NEXT_PUBLIC_SUPABASE_URL=https://yxopncyruetrkxwpnxkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4b3BuY3lydWV0cmt4d3BueGtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjMyODg2NzQsImV4cCI6MTk3ODg2NDY3NH0.p34yPNvL4TEem8S-h3qq0ueoCu-4rfEwEaEpJFPACw4