NEXT_PUBLIC_SUPABASE_URL=https://rpovvaebkdbcsxjchvjg.supabase.co
# NEXT_PUBLIC_SUPABASE_URL=https://yxopncyruetrkxwpnxkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwb3Z2YWVia2RiY3N4amNodmpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjM2MzYxMjAsImV4cCI6MTk3OTIxMjEyMH0.XoWJ3YHiv95dQUV92nkyqvnNh3Yk1n8uzNSGJQAnoe4